
.feedback-form {
    margin: 10px auto;
    border-radius: 8px;
    padding: 24px;
    width: 360px;
    height: 248px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.label-form {
    display: block;
    text-align: start;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-form {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.textarea-form {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    resize: none;
}

.button-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}



.button-form:hover, .button-form:focus {
    background: #6c8cff;
}